<!doctype html>
<html ng-app="myApp">
  <head>
    <title>Fun pet store</title>
  </head>
  <body>
    <div>



      <div ng-controller="PetController">
        <h1>{{message}}</h1>




        <div ng-repeat="pet in pets">
          <h3>{{pet.type}} {{pet.price | currency}}</h3>

        </div>
      </div>
      


      <div ng-controller="SecondController">
        <input type="text" ng-model="greeting.message">
        <h1>{{greeting.message}}</h1>
      </div>

      

    </div>

    <script src="vendor/angularjs/angular.js"></script>
    <script src="app.js"></script>

  </body>
</html>
